 {% load static %}
 <!-- footer section -->
      <footer>
         <div class="container">
            <div class="row">
               <div class="col-md-4">
                   <div class="full">
                      <div class="logo_footer">
                        <a href="#"><img width="210" src="/static/images/logo.png" alt="#" /></a>
                      </div>
                      <div class="information_f">
                        <p><strong>ADDRESS:</strong> 28 White tower, New Colony, Ahmedabad</p>
                        <p><strong>TELEPHONE:</strong> +91 987-654-3210</p>
                        <p><strong>EMAIL:</strong> abc12@gmail.com</p>
                      </div>
                   </div>    
               </div>
            </div>
         </div>
      </footer>
      <div class="cpy_">
         <p class="mx-auto">© 2025 All Rights Reserved By FAMMS<br></p>
      </div>
      <!-- end footer section -->
      <!-- jQery -->
      <script src="/static/js/jquery-3.4.1.min.js"></script>
      <!-- popper js -->
      <script src="/static/js/popper.min.js"></script>
      <!-- bootstrap js -->
      <script src="/static/js/bootstrap.js"></script>
      <!-- custom js -->
      <script src="/static/js/custom.js"></script>
   </body>
</html>