{% extends "base.html" %}
{% block content %}         

      <!-- inner page section -->
      <section class="inner_page_head">
         <div class="container_fuild">
            <div class="row">
               <div class="col-md-12">
                  <div class="full">
                     <h3>Product List</h3>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end inner page section -->
      <!-- product section -->
      <section class="product_section layout_padding">
         <div class="container">
            <div class="heading_container heading_center">
               <h2>
                  Women <span>Goggles
                  </span>
               </h2>
            </div>
            <div class="row">
               {% for i in page_obj %}
               <div class="col-sm-6 col-md-4 col-lg-3">
                  <div class="box">
                     <div class="img-box">
                        <img src="/media/{{i.wimage}}" alt="">
                     </div>
                     <div class="detail-box">
                        <h5>
                           {{i.wname}}
                        </h5>
                        <h6>
                           :-{{i.wprice}}
                        </h6>
                     </div>
                     <h6>
                        {{i.wdescriptions}}
                     </h6>
                     <div class="options">
                        <a href="{% url 'addtocart' i.id 'Womens' %}" class="option1">Add To Cart</a>
                     </div>
                  </div>
               </div> 
               {% endfor %}
               {% comment %} <div class="col-sm-6 col-md-4 col-lg-3">
                  <div class="box">
                     <div class="option_container">
                        <div class="options">
                           <a href="" class="option1">
                           Add To Cart
                           </a>
                        
                        </div>
                     </div>
                     <div class="img-box">
                        <img src="/static/images/p4.png" alt="">
                     </div>
                     <div class="detail-box">
                        <h5>
                           Women's Dress
                        </h5>
                        <h6>
                           $70
                        </h6>
                     </div>
                  </div>
               </div>
               <div class="col-sm-6 col-md-4 col-lg-3">
                  <div class="box">
                     <div class="option_container">
                        <div class="options">
                           <a href="" class="option1">
                           Add To Cart
                           </a>
                        
                        </div>
                     </div>
                     <div class="img-box">
                        <img src="/static/images/p5.png" alt="">
                     </div>
                     <div class="detail-box">
                        <h5>
                           Women's Dress
                        </h5>
                        <h6>
                           $75
                        </h6>
                     </div>
                  </div>
               </div>
               <div class="col-sm-6 col-md-4 col-lg-3">
                  <div class="box">
                     <div class="option_container">
                        <div class="options">
                           <a href="" class="option1">
                           Add To Cart
                           </a>
                        
                        </div>
                     </div>
                     <div class="img-box">
                        <img src="/static/images/p6.png" alt="">
                     </div>
                     <div class="detail-box">
                        <h5>
                           Women's Dress
                        </h5>
                        <h6>
                           $58
                        </h6>
                     </div>
                  </div>
               </div>
               <div class="col-sm-6 col-md-4 col-lg-3">
                  <div class="box">
                     <div class="option_container">
                        <div class="options">
                           <a href="" class="option1">
                           Add To Cart
                           </a>
                        
                        </div>
                     </div>
                     <div class="img-box">
                        <img src="/static/images/p7.png" alt="">
                     </div>
                     <div class="detail-box">
                        <h5>
                           Women's Dress
                        </h5>
                        <h6>
                           $80
                        </h6>
                     </div>
                  </div>
               </div>
               <div class="col-sm-6 col-md-4 col-lg-3">
                  <div class="box">
                     <div class="option_container">
                        <div class="options">
                           <a href="" class="option1">
                           Add To Cart
                           </a>
                        
                        </div>
                     </div>
                     <div class="img-box">
                        <img src="/static/images/p12.png" alt="">
                     </div>
                     <div class="detail-box">
                        <h5>
                           Women's Dress
                        </h5>
                        <h6>
                           $65
                        </h6>
                     </div>
                  </div>
               </div> {% endcomment %}
            </div>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">First</a>
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    </span>
</div>
            <div class="btn-box">
               <a href="/product">
               View All products
               </a>
            </div>
         </div>
      </section>
      <!-- end product section -->
      
{% endblock %} 